#root {
  margin: auto;
  text-align: center;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.solid:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.read-the-docs {
  color: #888;
}

.strong-text {
  font-size: 2rem;
  font-weight: bold;
  color: blue;
  /* 任意の強調表示の色を指定 */
}